<h1>Offers#create</h1>
<p>Find me in app/views/offers/create.html.erb</p>
<div id="offer" class="tabcontent">
  <h2>Offer</h2>
  <%= simple_form_for([@product, Offer.new]) do |f| %>
  <%= f.button :submit, "Make an offer", class: "btn-flat"%>

<% end %>
