.favorite-element {
  width: 95px;
  height: 95px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  position: relative;
  border-radius: 15px;
  margin:5px;


  p {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    margin: 0;
    font-weight: bold;
    line-height: 1;

  }
}
.favorites-row {
  display:flex;
  justify-content:center;
  margin-bottom: 70px;
  padding:5px;
}

