/*
essential styles:
these make the slideshow work
*/

#conversation {
  display: none;
  width: 80%;
  height: 80%;
  position: absolute;
  right: 20%;
  top: 20px;
  margin-bottom: 20px;
  z-index: 1000;
}


.slides {
  margin:auto;


  #slides {
    position: relative;
    width: 100%;
    height: 420px;
    padding: 0px;
    margin: auto;
    list-style-type: none;
    margin-top: 20px;
  }

  .slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    box-sizing: border-box;
    color: #fff;


    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }

  .slides-buttons {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    span {
      margin: 0 10px;
    }
  }

  .showing {
    opacity: 1;
    z-index: 2;
    margin:auto;
    .image-carousel{
      border-radius: 15px;
      width:100%;
    }
  }


  .image-carousel {
    width: 380px;
    height: 420px;
    float:left;
    background-repeat: no-repeat;
    background-size: cover;


  }

  .product-name {
    position: relative;
    bottom: 90px;
    width: 300px;
    margin: auto;
    display: block;
    line-height: 1;
    font-size: 24px;
    font-weight: bold;
    left: -10px;

  }

  .product-category {
    position: relative;
    bottom: 90px;
    width: 340px;
    margin: auto;
    display: block;
    line-height: 1;
    font-size: 20px;
    left: 15px;
  }

  .product-user {
    position: relative;
    bottom: 90px;
    width: 300px;
    margin: auto;
    display: block;
    line-height: 1;
    font-size: 20px;
    left: 7px;
  }
}
